.typewriter-holder {
    width: 280px;
    position: relative;
    display: block;
    margin: auto;
  }
  
  .typewriter-holder p {
    position: absolute;
    left: 0;
  
    font-weight: bold;
    font-size: 20px;
  }